.right {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.left {
    display: flex;
    gap: 12px;
    justify-content: flex-start;
}

.background {
    background-image: linear-gradient(120deg, #2980b9, #8e44ad);
}

#headlink a:link {
    color: green;
}

#headlink a:visited {
    color: orange;
}

#headlink a:hover {
    color: hotpink;
}

#headlink a:active { /*I think this is what he mans by selected */
    color: blue;
}